body
{
	text-align: center;

	background: linear-gradient(to right ,#ffff00,#ff0080);
	
}
h1 {
    font: 600 2.5em/1 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-transform: uppercase;
    letter-spacing: .5em;
    margin-top:50px;
    
}
input
{
	margin-top:100px;
    height: 30px;
    width: 100px;
    cursor:pointer;
}

button
{
   padding: 5px;
    width: 125px;
    height: 33px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    
    position: relative;
    top: -5px;
}
h2
{

    font: 600 1.5em/1 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: .5em;
    margin-top: 150px;
} 
